@model Strona3
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3>Statystyka samochodu:</h3>
    <p>Marka: @Model.Marka</p>
    <p>Kolor: @Model.Kolor</p>
    <p>Rok_produkcji: @Model.Rok_produkcji</p>
    <p>Stan: @Model.Stan</p>
    <p>Kraj: @Model.Kraj</p>
}
